*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
@font-face{
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
}
@font-face{
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}

:root{
--index: calc(1vw + 1vh);
}
body{
    background-color: #0d120b;
    color: #fff;
}
.main_header{
    position: relative;
    font-family: 'Anton', sans-serif;
}
.main_header::after{
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index)*20);
    background-image: url(../img/Между.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 30px;
    bottom: calc(var(--index)*-9.8);
}

.layers{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.layer{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
}
.layers_header{
    margin-top: 8%;
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 1.5), 0);
    will-change: transform;
    font-weight: 900;
    color: rgb(229 255 231);
    text-shadow: 0 0 5px rgb(132 226 131);
}
.layers_title{
    font-size: calc(var(--index) * 2.8);
    letter-spacing: calc(var(--index) / 2.2);
}
.layers_caption{
    font-size: calc(var(--index) * 1.175);
    letter-spacing: calc(var(--index) / 3.5);
}
.layer_base{
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
}
.layer_middle{
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layer_front{
    transform: translate3d(0, calc(var(--scrollTop) / 8), 0);
}



.main_article{
    width: 100%;
    min-height: 150vh;
    top: 80px;
    position: relative;
    
}
.main_article:before{ 
    content: ''; 
    position: absolute;
    bottom: 0; 
    width: 100%; 
    height: 200px; 
    z-index: 1; 
    background: linear-gradient(to top, rgb(2, 10, 0), transparent); 
}


.main_article-content{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 20%;
    font-size: 20px;
    text-align: center;
}
.main_article-header{
    font-size: 40px;
    letter-spacing: 3px;
    color: rgb(229 255 231);
    text-shadow: 0 0 5px rgb(132 226 131);
}
.image{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 150px;
    margin-top: 90px;
}
.Fed{
    width: calc(var(--index) * 9);
    height: calc(var(--index) * 9);
    border-radius: 50%;
    border: 3px solid #1f4722;
    margin-left: 13%;
    margin-right: 48%;
}
.Fedor-img{
    overflow: hidden;
}
.Fedor-img img{
    width: auto;
    height: 390%;
    margin: -130px 0 0 -48px;
}
.Ann{
    width: calc(var(--index) * 9);
    height: calc(var(--index) * 9);
    border-radius: 50%;
    border: 3px solid #363c72;
}
.Anna-img{
    overflow: hidden;
}
.Anna-img img{
    width: auto;
    height: 250%;
    margin: -148px 0 0 -240px;
}
.pharagraph{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
}
.Fedor_paragraph{
    margin-left: 10%;
    right: 65%;
    text-shadow: 3px 3px 5px rgb(8 143 0);
    width: 290px;
}
.Anna_paragraph{
    margin-right: 9%;
    text-shadow: 3px 3px 5px rgb(39 0 157);
    width: 290px;
}



.dark_section{
    width: 100%;
    min-height: 150vh;
    background-color: rgb(0, 10, 0);
    display: flex;
    margin-top: 78px;
}
.dark_title{
    margin-top: 100px;
    margin-bottom: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-size: 40px;
    z-index: 1;
    text-shadow: 0 0 5px rgb(132 226 131);
}
.cards{
    position: static;
    margin-top: 20%;
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}
.card1{
    position: relative;
    width: 400px;
    height: 200px;
    background: linear-gradient( #818181, 40%, transparent); 
}
.card2{
    position: relative;
    width: 400px;
    height: 200px;
    background-color: rgb(164, 164, 164);
    background: linear-gradient( #818181, 40%, transparent);  
}
.card3{
    position: relative;
    width: 400px;
    height: 200px;
    background-color: rgb(164, 164, 164);
    background: linear-gradient( #818181, 40%, transparent); 
}
.card4{
    position: relative;
    width: 400px;
    height: 200px;
    background-color: rgb(164, 164, 164);
    background: linear-gradient( #818181, 40%, transparent); 
}
.card5{
    position: relative;
    width: 400px;
    height: 200px;
    background-color: rgb(164, 164, 164);
    background: linear-gradient( #818181, 40%, transparent); 
}
.card6{
    position: relative;
    width: 400px;
    height: 200px;
    background-color: rgb(164, 164, 164);
    background: linear-gradient( #818181, 40%, transparent); 
}
.card-par{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.footer{
    display: flex;
    flex-direction: row;
    align-items:center ;
    width: 100%;
    height: 150px;
    background-color: rgb(37, 37, 37);
}
.footer-p{
    display: flex;
    line-height: 19px;
    justify-content: center;
    width: 100%;
}
.social{
    width: 100%;
    position: absolute;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 100px;
}
.social-img{
    display: inline-flex;
    width: 60px;
    height: 60px;
}
.footer-p{
    display: flex;
    justify-content: center;
    margin-left: 44%;
    margin-right: 50px;
    width: 200px;
}








































@media (max-width: 1200px){
    .layers_header{
        color: aqua;
    }
};